html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px (10px/16px = 62.5%)
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  overflow-x: auto;
}

.screenreader-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.screenreader-text:focus {
  color: black;
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.blockquote {
  border-left: 0.5rem solid #f792a4;
  padding-left: 1rem;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header {
}

.header__heading {
  font-size: 4rem;
  margin: 2rem;
}

.main {
}

.remote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.remote__heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.remote__image {
  max-width: 100%;
}

.hire-me {
  text-align: center;
  border: 0.5rem solid #7363d1;
  font-size: 2.5rem;
  color: #ffffff;
  border-radius: 50px;
  padding: 2rem 6rem;
  background-color: #453b7e;
  text-decoration: none;
  box-shadow: 0 10px #a9aedf;
  margin-bottom: 5rem;
}

.hire-me:hover {
  cursor: pointer;
}

.hire-me:active {
  cursor: pointer;
  box-shadow: 0 5px #a9aedf;
  transform: translateY(0.3rem);
}

.code {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.code__heading {
  font-size: 2.3rem;
}

.code__code {
  font-size: 1.1rem;
}

.tech {
  display: grid;
  background-color: #f1f1f1;
  grid-template-areas:
    "header header header header header"
    "A1 A2 A3 A4 A5"
    "B1 B2 B3 B4 B5"
    "C1 C2 C3 C4 C5"
    "D1 D2 D3 D4 D5"
    "E1 E2 E3 E4 E5";
  grid-gap: 1rem;
  padding: 1rem;
}

.tech__heading {
  text-align: center;
  grid-area: header;
  font-size: 2.3rem;
  color: #453b7e;
}

.fa-react {
  grid-area: B2;
  margin: auto;
  font-size: 3.5rem;
  color: #f792a4;
}

.fa-git {
  grid-area: B4;
  margin: auto;
  font-size: 3.5rem;
  color: #f792a4;
}

.fa-html5 {
  grid-area: C3;
  margin: auto;
  font-size: 5rem;
  color: #f792a4;
}

.fa-css3-alt {
  grid-area: C5;
  margin: auto;
  font-size: 4.5rem;
  color: #f792a4;
}

.fa-js {
  grid-area: C1;
  margin: auto;
  font-size: 4rem;
  color: #f792a4;
}

.fa-node {
  grid-area: D2;
  margin: auto;
  font-size: 4rem;
  color: #f792a4;
}

.fa-sass {
  grid-area: D4;
  margin: auto;
  font-size: 4rem;
  color: #f792a4;
}

.availability__heading {
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.contact-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.contact-form__heading {
  color: #453b7e;
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.contact-form__label {
  font-size: 1.4rem;
  margin: 0.5rem;
}

.contact-form__input {
  padding: 0.5rem 0.3rem;
}
